/* ILLiad Plus */
/*----------------------------------------*/

.ill_requests										{ border: 1px solid #e5e5e5; border-radius: 3px; }
.ill_requests h2									{ font-size: 11px; text-transform: uppercase; color: #666; letter-spacing: 1px; background: #f1f1f1; margin: 0; padding: 12px 12px 6px; border-bottom: 1px solid #ddd; }
.ill_requests ul									{ margin: 0; padding: 0; }

.ill_requests .ill_empty_notice						{ padding: 12px; font-weight: bold; color: #999; }

.ill_requests .ill_request							{ list-style-type: none; margin: 0; padding: 12px 0 12px 78px; border-bottom: 1px solid #ddd;  position: relative; overflow: hidden; min-height: 58px; }
.ill_requests .ill_request:last-child				{ border: none; }
.ill_requests .ill_request:after					{ content: ""; background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff); width: 20px; height: 60px; position: absolute; top: 0; right: 0; }

.ill_requests .ill_request.highlight				{ background: #FFFFE5; }
.ill_requests .ill_request.highlight:after			{ background: -webkit-linear-gradient(left, rgba(255, 255, 259, 0), #FFFFE5); }

.ill_requests .ill_request h3						{ margin: 0 0 3px; line-height: 1; white-space: nowrap; }
.ill_requests .ill_request b						{ color: #555; font-weight: normal; font-style: normal; margin-left: 2px; }

.ill_requests .ill_request .ill_type				{ position: absolute; top: 14px; left: 6px; bottom: 0; width: 58px; padding: 36px 0 0; background-image: url(images/other.png); background-repeat: no-repeat; background-position: center 0; color: #999; line-height: 1.2em; text-align: center; font-size: 9px; }

.ill_requests .ill_request .ill_type.book,
.ill_requests .ill_request .ill_type.bookchapter	{ background-image: url(images/book.png); }

.ill_requests .ill_request .ill_type.article,
.ill_requests .ill_request .ill_type.thesis,
.ill_requests .ill_request .ill_type.conference 	{ background-image: url(images/article.png); }

.ill_requests .ill_request .ill_type.media			{ background-image: url(images/cd.png); }
.ill_requests .ill_request .ill_type.musicscore		{ background-image: url(images/sheetmusic.png); }
.ill_requests .ill_request .ill_type.newspaper		{ background-image: url(images/newspaperarticle.png); }
.ill_requests .ill_request .ill_type.download		{ background-image: url(images/download.png); }

.ill_requests .ill_request_author,
.ill_requests .ill_request_journal					{ color: #777; font-size: 11px; font-style: italic; white-space: nowrap; }

.ill_requests .ill_request_options					{ font-size: 11px; margin: 10px 0 0; color: #999; position: absolute; bottom: 10px; }
.ill_requests .ill_request_options a				{ color: #000; border-bottom: 1px dotted #999; font-weight: bold; text-decoration: none; }
.ill_requests .ill_request_options a:hover			{ color: #999; }
.ill_requests .ill_request_status					{ font-weight: bold; color: #aaa; border-left: 4px solid #bbb; padding: 0 0 0 5px; width: 160px; display: inline-block; }

.ill_requests#checkedout .ill_request_status		{ border-color: #D8C7A7; color: #B9AA8D;  }
.ill_requests#available .ill_request_status			{ border-color: #92BB33; color: #7C9E2C; }

.ill_requests .ill_request_date						{ font-size: 11px; font-style: italic; text-align: right; color: #999; position: absolute; top: 11px; right: 0; z-index: 100; background: #fff; background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 20%); padding: 0 12px 0 40px; }
.ill_requests .ill_request_date b					{ font-size: 12px; font-weight: bold; font-style: normal; color: #555; display: block; margin: 1px 0 0; }

.ill_requests .ill_request_number					{ color: #999; font-size: 10px; position: absolute; bottom: 10px; right: 12px; }


#ill_requests #cancelled							{ background-color: #f9f9f9; }
#ill_requests #cancelled h3 a						{ color: #888; }
#ill_requests #cancelled .ill_request_author		{ color: #888; }
#ill_requests #cancelled .ill_request_author b		{ color: inherit; }


#ill_filters										{ margin: 0; }
#ill_filters ul										{ margin: 0 0 18px; }
#ill_filters li										{ list-style-type: none; margin: 0 16px 0 0; display: inline-block; position: relative; }
#ill_filters a										{ border-radius: 12px; padding: 3px 10px; color: #555; font-size: 12px; font-weight: bold; display: block; text-decoration: none; }
#ill_filters a:hover								{ background: #f1f1f1; }
#ill_filters a.selected								{ background: #ddd; color: #444; }
#ill_filters a b									{ color: #999; }
#ill_filters a.selected b							{ color: #888; }

